* {
  font-family: Inter;
  font-style: normal;
}



header {
  background-color: #F55A5A;
  color: antiquewhite;
  height: 100px;
  /* height: 55px; */
  /* border: solid black 2px; */
}

.header-div {
  font-weight: 500;
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  /* border: solid blue 2px; */
}

.header-image {
  height: 24px;
  width: 24px;
  /* border:solid seagreen */
  margin-right: 5px;
  margin-top: 23px;
}

.card {
  display: flex;
  margin-top: 40px;
  /* border: solid blueviolet 5px; */
}

.card-image {
  width: 200px;
  height: 275px;
  margin-left: 40px;
  border-radius: 8px;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 400px;
  /* border: solid black 3px; */
}

.card-details-location {
  display: flex;
  /* border: solid rebeccapurple 3px; */
}

.card-details-location-country {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.card-details-location-country > img {
  width: 15px;
  height: 17.55px;
  margin: auto 0;
}

.card-details-location-country > p {
  margin-left: 4px;
}

.card-details-location > a {
  text-decoration-line: underline;
  color: #918E9B;
  margin: auto 0;
  margin-left: 5px;
}

.card-details-title {
  font-weight: 700;
  font-size: 22px;
}

.card-details-dates {
  font-weight: 700;
}

.card-details-description {
  font-weight: 400;
}